/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 juil. 2018, 12:41:22
    Author     : Administrateur
*/

.styleChange{
    height: 3vh;
    border: double 1px rgb(51,51,51);
        background: linear-gradient(to right, black 0%, black 33%, yellow 33%, yellow 66%, red 66%, red 100%);

}